<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.whuzfb.lovebaby">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".HomeActivity"
            android:label="@string/app_activity_1" />

        <activity
            android:name=".BabyActivity"
            android:label="@string/app_activity_2" />

        <activity
            android:name=".ZoneActivity"
            android:label="@string/app_activity_3" />

        <activity
            android:name=".UserActivity"
            android:label="@string/app_activity_4" />

        <!--
        actionbar这里有个大坑：
        按照谷歌官网教程：
        https://developer.android.com/training/appbar/setting-up.html#utility
        生成的Actionbar不会被长按现实的bar覆盖，而是接在上面
        -->
        <activity
            android:name=".NoteActivity"
            android:label="                        笔记"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".CheckBody"
            android:label="@string/app_activity_3" />

    </application>

    <!-- 设置权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
</manifest>
